.GridContainer{
    padding: 10px 30px 0px 30px;
}
.caption{
    font-weight:700;
}
.likes {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.add-button {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.addComentsSection{
    display: block;
    width: 100%;
    justify-content: space-around;
    min-width: 380px;
}
.addComment{
    margin: 8px;
    max-width: 370px;
    min-width: 370px;
}

.comments-section{
    max-height: 60px;
    min-height: 60px;
    overflow: auto;
}

.Home-formControl-8 {
    margin: 8px;
    max-width: 380px;
    min-width: 380px;
}
.MuiInputLabel-formControl {
    left: 13px;
}