.avatar{
    background-color: red;

}

.information-section{
    height: 200px;
}
.avatarInfo{
    display: inline-block;
    top: 40px;
    left: 281px;
}
.imagePosts{
    margin: 0 125px;
}
.edit-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .4rem;
}

/* For Name Change helper text. ('required') */
.hide {
    display: none;
}

/* For Name Change helper text. ('required') */
.show {
    display: block;
}

/* Image placed on the grid should be clickable. */
.image-on-grid{
    cursor: pointer;
}

.MuiGridListTile-tile:hover{
    cursor: pointer;
}