.header{
    height: 36px;
    background-color: #263238;
    width: 100%;
    padding-top: 10px;
}
.logo{
   
    color: #fff;
    padding-left: 10px;
    font-size: 18px;
    align-content: center;

}  