.header{
    height: 60px;
    background-color: #263238;
    width: 100%;
}
.logo{
    display: inline-flex;
    color: #fff;
    padding: 13px 0 13px 10px;
     align-content: center;
    justify-content: center;
    font-size: 18px;
}  
.searchBar{
    display: inline-block;
    position:relative;
    float:right;
    margin: 12.5px 10px 12.5px 0px;
    
}